h1{
	color: dimgrey;
	text-align: center;
}

body{
	background-color: steelblue;
}

a{
	color: goldenrod;
	text-decoration-line: none;
}

li{
	list-style: none;
}

p{
	color: powderblue;
}

hr{
	height: 5px;
	background-color: dimgrey;
}

tr{
	border: 2px solid red;
}
th{
	border: 2px solid red;
}

table{
	border: 4px solid red;
}

.summary{
	border: 3px dashed; dimgrey;
	text-align: center;
	line-height: 20px;
}

